<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}" />
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=9b791e7f-8637-4534-a2da-fcaaa9bb443c&lang=ru_RU"></script>
    <script>
      const TG = window.Telegram.WebApp;
    </script>
    <title>Abob Inc.</title>
  </head>
  <body>
    <div id="map" style="width: 100%; height: 100%"></div>
    <div id="search">
      <div class="dropdown radius">
        <button class="dropdown__button">200</button>
        <ul class="dropdown__list">
          <li class="dropdown__list-item" data-value="200">200</li>
          <li class="dropdown__list-item" data-value="1000">1000</li>
          <li class="dropdown__list-item" data-value="5000">5000</li>
          <li class="dropdown__list-item" data-value="10000">10000</li>
        </ul>
        <input
          type="text"
          name="select-category"
          value=""
          class="dropdown__input-hidden" />
      </div>
      <div id="slide">
        <div class="cross">
          <svg
            fill="#ff060c"
            height="23px"
            width="23px"
            version="1.1"
            id="arrow"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 330 330"
            xml:space="preserve">
            <path
              id="XMLID_225_"
              d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
	c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
	s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z" />
          </svg>
        </div>
        <input type="text" placeholder="Поиск мероприятия..." class="search" />
      </div>
      <div class="events">
        <div class="event_item">
          <div class="header">
            <img
              src="https://www.simplilearn.com/ice9/free_resources_article_thumb/prop1-css-background-image.JPG"
              alt="мероприятие" />
            <div class="mid">
              <div class="info">
                <h2>Хомяково</h2>
                <div class="date">
                  <img src="./static/images/Calendar.png" alt="картинка" />
                  15.08.2023 | 10:00-18:00
                </div>
              </div>
              <div class="price">100 <b>₽</b></div>
            </div>
          </div>
          <div class="body">
            <div class="mid">
              <button class="btn description">Описание</button>
              <button class="btn" id="${data.id}">Билеты</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ events|json_script:"events" }}
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/listeners.js' %}"></script>
  </body>
</html>
